/*
 * 
 * MAP
 * 
 */

.map-borders {
    background-color: #1e1c1a;
    box-shadow: 0 0 0 5px #332211, 0px 6px 2px 0.00px #010101;
    height: 8.4em;
    border-bottom: 1px solid rgba(255,255,255,0.15);
}

.map-preview {
    position: absolute;
    left: 0; right: 0;
    margin: auto;
    bottom: -75px;
    border-radius: 50%;
    background-color:  #332211;
    border: 6px solid #322211;
    box-shadow: 0px 1px 2px 0.00px #000000;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.map-content {
    width: 100%;
    height: 100%;
    background: #4282ae;
    border-radius: 50%;
    box-shadow: 0 0 0 6px #000 inset;
}

#map {
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 5;
}