
/*
 * SOUND
 * 
 * 
 */

.sound {
    position: absolute;
    right: 0;
}

.sound.is-off #onde path{
    display: none;
}

#sound {
    width: 1.4em;
    vertical-align: bottom;
    margin-left: .4em;
}
