/*
 * Video Introduction of a film
 * */
.home-intro {
    .main-content {
        position: absolute;
        width: 80%;
        height: 50%;
        top: 0; left: 0; right: 0; bottom: 0;
        margin: auto;
    }

     .credits-intro {
        position: absolute;
        bottom: 0;
		visibility: visible;
		opacity: 1;
    }


    .indication-text {
        margin: auto;
        margin-top: 15%;
        font-size: 1.25em;
        text-align: center;
        
        color:  #dec080;
		
		visibility: visible;
		opacity: 1;
        
        svg {
            width: 44px;
            vertical-align: middle;
        }
    }
    .film-title {
        margin-top: 0;
		visibility: visible;
		opacity: 1;
    }
     .film-title svg {
        width: 50%;
    }
	.down-disappear {
		visibility: hidden;
		opacity: 0;
		transform: translateY(20px);
	}
    
        
    .indication-text,
    .credits-intro,
    .film-title,
    .down-disappear {
        @include transition(all 800ms cubic-bezier(.33,.04,.22,1.14));
    }

}

.first-animation.first-animation {
    .credits-intro { @include transition-delay(6.8s); }
    .indication-text { @include transition-delay(7s);  }
    .film-title { @include transition-delay(5.8s); }
}

.hide-controls {
    .indication-text,
    .credits-intro,
    .film-title {
        @extend .down-disappear;
    }
}