.home-intro.nausicaa {
    background-image: url('../img/home-intro.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.home-intro {
    .main-content {
        position: absolute;
        width: 80%;
        height: 50%;
        top: 0; left: 0; right: 0; bottom: 0;
        margin: auto;
    }

     .credits-intro {
        position: absolute;
        bottom: 0;
		visibility: visible;
		opacity: 1;
		transition: all 800ms 6800ms;
    }

    .indication-text {
        margin: auto;
        margin-top: 5%;
        text-align: center;
        
        color:  #dec080;
        font-size: 1.5em;
		
		visibility: visible;
		opacity: 1;
		transition: all 800ms 7000ms;
        
        svg {
            width: 44px;
            vertical-align: middle;
            #hand {
                -webkit-animation: cssAnimation 600ms infinite linear alternate;
                animation: cssAnimation 600ms infinite linear alternate;
            }
            &:hover {
                #hand { transform: translateY(0px); }
            }
        }
    }
    .film-title {
        margin-top: 0;
		visibility: visible;
		opacity: 1;
		transition: all 800ms linear 5800ms;
    }
     .film-title svg {
        width: 50%;
    }
	.down-disappear {
		visibility: hidden;
		opacity: 0;
		transform: translateY(100px);
		transition: all 800ms
	}

}

 @-webkit-keyframes cssAnimation {
from { -webkit-transform: translateY(-3px) }
to { -webkit-transform: translateY(0px); }
}
 @keyframes cssAnimation {
from { -webkit-transform: translateY(-3px) }
to { -webkit-transform: translateY(0px); }
}