.intro-sequence {
    background: black;
    color: #ffebc0;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0; 

    .sequence-title {
        color:  #ffebc0;
        font-size: 1.25em; 
        font-weight: 700;
        font-family: 'Open Sans Condensed';
        text-transform: uppercase;
        &:after {
            content: "";
            display: block;
            width: 80px;
            height: 3px;
            margin: 1em auto 1em auto;
            background: #ffebc0;
            opacity: 0.15;
        }
    }
    .sequence-quote {
        color:  #dec080;
        font-size: 1.5em; /* Approximation causée par une substitution de police */
        line-height: 2.25em;
        font-style: italic;
        &:before {
            content : "« "; 
        }
        &:after {
            content : " »"; 
        }
    }
    .sequence-info {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        margin: auto;
        width: 50%;
        height: 30%;
        text-align: center;
    }
    .intro-loader {
        background-color:  #332211;
        border-top: 1px solid rgba(255,255,255,0.15);
        box-shadow:  0px 1px 2px 0.00px #010101;
        position: absolute;
        left: 0; right: 0;
        height: 6px;
        bottom: 20%;
    }
    .intro-loader-circle {
        position: absolute;
        left: 0; right: 0;
        margin: auto;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background: black;
        top: -70px;
        box-shadow: 0 1px 1px black, 0 -1px 1px #5c4e41;
        border: 5px solid #332211;
    }
    .intro-loader-totoro {
        background: #ffebc0;
        box-shadow: 0px 0px 50px #7f7258 inset,  0 -1px 1px #ffeecb;
        position: absolute;
        top: 5px; left: 4px; right: 4px; bottom: 4px;
        border-radius: 50%;
        text-align: center;
        svg {
            height: 80%;
            margin-top: 10px;
        }
    }
}