.timeline-container {
    position: fixed;
    bottom: 0;
    left: 0; right: 0;
    height: 50px;
    background-color:  rgba(0, 0, 0, 0.75);
    
    opacity: 1;
    .timeline {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        margin: auto;
        width: 920px;
    }
}

.hide-controls {
    .timeline-container {
        @include transform(translateY(100%));
    }
    .qte-mode {  bottom: 0; }
}
.qte-mode, .timeline-container {
    @include transition(all 800ms );
}