.whole-informations {
	position: absolute;
	top: 0; left: 0; right: 0;
	z-index: 25;
}

.loader-screen {
	z-index: 20;
}

.main {
	z-index: 15;
}

.video-container {
	z-index: 10;
}

.map-screen {
	z-index: 5;
}