.loader-site {
    text-align: center;
}

.loader-container {
    height: 30%;
    text-transform: uppercase;
    font-size: em(20);
    color: #222222;
}

.loader-value {
    font-size: em(120,20);
    color: #cd834b;
}

