	<script src="/desktop/js/handlebars.js"></script>
	<script src="/desktop/js/handlebars-modules.js"></script>
	<script src="/desktop/js/model.js"></script>
	<script src="/desktop/js/view.js"></script>
	<script src="/desktop/js/controller.js"></script>
	<script src="/desktop/js/main.js"></script>
	
	<script>
		(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
		function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
		e=o.createElement(i);r=o.getElementsByTagName(i)[0];
		e.src='//www.google-analytics.com/analytics.js';
		r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
		ga('create','UA-XXXXX-X');ga('send','pageview');
	</script>
</body>
</html>