	<script src="/desktop/js/ejs_production.js"></script>
	<script src="/desktop/js/model.js"></script>
	<script src="/desktop/js/view.js"></script>
	<script src="/desktop/js/controller.js"></script>
	<script src="/desktop/js/main.js"></script>
</body>
</html>