<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel="stylesheet" href="/desktop/style/app.css">
	<link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic|Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
<!--	<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>-->
	    <script src="/desktop/js/socket.io-1.2.0.js"></script>
</head>
<body>
