<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel="stylesheet" href="/desktop/style/app.css">
	<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
</head>
<body style="background: red;">
