<% include header %>
<div class="loader-screen screen"></div>
<div class="map-screen screen"></div>
<div class="whole-informations">
	<div class="fullscreen-toggle">Fullscreen</div>
</div>
<div class="video-container">
	
</div>

<div class="main main-screen">

</div>


<% include footer %>
