<% include header %>
<div class="whole-informations">
<!--	<div class="fullscreen-toggle">Fullscreen</div>-->
</div>
<div class="loader-screen screen hide-screen"></div>
<div class="main screen"></div>
<div class="video-container screen"></div>
<div class="map-screen screen"></div>
<% include footer %>
