<% include mobile/header %>

<div class="screen skip-intro hide-screen"></div>
<div class="screen load-region hide-screen"></div>
<div class="screen main-mobile"></div>
<div class="screen world-map"></div>


<script>
	var socket = io.connect();
	var room = '<%= code %>';
</script>


<% include mobile/footer %>
