<% include header %>

<div class="screen"></div>
<div class="screen"></div>
<div class="screen"></div>
<div class="screen"></div>


<script>
	var socket = io.connect();
	var room = '<%= code %>';
</script>


<% include mobile/footer %>
