<div class="film-title down-disappear">
		<svg version="1.1" id="logo-nausicaa" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 115 300 72" enable-background="new 0 115 300 72" xml:space="preserve" width="400">
			<path fill="#FFFFFF" d="M259,162.1c-0.9,0-2-0.3-2.9-0.3c-0.6,0-1.2-0.6-1.2-1.2c0-0.6,0-1.4,0-2c0.6-1.4,1.2-2.9,1.7-4.3
	c0.3-0.9,0.9-2,1.2-2.9c0.3-1.2,0.9-1.7,2.3-1.7c0.9,0,1.7,0.3,2.6,0.3c1.2,0,2.3-0.3,3.5-0.3c1.7,0,3.2,0,4.9,0
	c0.6,0,0.9,0.3,1.2,0.9c0.9,2.3,2,4.6,2.9,6.6c0.3,0.9,0.9,1.7,1.2,2.6c0.3,0.6,0.6,0.9,0.3,1.2c0,0.3-0.6,0.6-0.9,0.9l0,0
	c0,0-0.3,0.3,0,0.3l0.3,0.3c0.9,0,1.4,0.3,2.3,0.3c3.7,0,7.5,0,10.9,0c0.6,0,1.2-0.3,1.4-0.9c-1.2-0.6-2-0.9-3.5-0.9
	c-0.3,0-0.9-0.3-1.2-0.3c-0.9-0.3-1.4-1.2-2-2c-0.6-1.4-1.4-2.9-2-4c-0.3-0.6-0.6-1.2-0.9-2c-0.9-2-1.7-4-2.6-6c-0.9-2-2-4-2.9-6.3
	c-1.2-2.6-2.3-5.2-3.5-7.8c-0.3-0.6-0.6-1.2-0.9-1.7c-0.6-1.7-1.2-3.5-2-4.9c-0.3-0.9-0.9-1.7-1.4-2.3c-0.3-0.3-0.6-0.6-0.6-0.6
	c-0.6-0.3-1.2,0-1.4,0.6c-0.3,1.2-0.9,1.7-1.2,2.9c-0.3,0.9-0.6,1.7-1.2,2.6c-0.6,0.9-0.9,1.7-1.2,2.3s-0.3,1.2-0.6,1.7
	c-0.3,0.9-0.9,1.7-1.2,2.6c-0.3,0.9-0.6,1.4-0.9,2.3c-0.6,1.4-1.2,2.9-2,4c0,0.3-0.3,0.6-0.3,0.9c-0.3,0.9-0.6,1.4-0.9,2.3
	c-1.2,2-2,4.3-2.9,6.6c-0.6,2-1.7,3.7-2.3,5.5c-0.3,0.3-0.6,0.6-0.6,0.9c-0.3,1.2-1.2,2-2,2.6c-0.6,0.3-1.2,0.3-1.4,0.6
	c-0.9,0.6-2,0.6-2.9,0.6s-1.4-0.3-2-0.9c-1.2-0.9-1.7-2.3-2.3-3.7c-0.6-1.2-1.2-2-1.4-3.2c-0.6-1.2-1.7-2.3-1.7-3.7
	c0-0.3-0.3-0.6-0.6-0.9c-0.6-1.7-1.7-3.2-2.3-5.2c-0.9-2-1.7-4.3-2.9-6.3c-0.6-0.9-1.2-1.4-1.2-2.3c-0.3-1.4-1.2-2.3-1.4-3.5
	c-0.3-0.9-1.2-0.9-1.7-0.3c0,0.3-0.3,0.3-0.3,0.6c-0.6,1.2-0.9,2.3-1.7,3.5c-0.3,0.3-0.6,0.6-0.6,1.2c0,0.9-0.3,1.2-0.6,1.7
	c-0.3,0.6-0.6,0.9-0.6,1.4c0,0.3,0,0.3-0.3,0.6c-0.6,0.9-0.9,2-1.4,2.9c-0.3,0.6-0.3,0.9-0.6,1.4c-0.6,0.9-0.9,1.4-1.2,2.3
	c-0.3,1.2-1.2,2-1.4,3.2c-0.9,0.9-0.9,2.3-1.7,3.5c-0.3,0.3-0.6,0.6-0.6,1.2c-0.3,1.7-1.2,2.9-1.7,4.3c-0.6,1.4-1.7,2.3-3.5,2
	c-0.3,0-0.6,0-0.9,0c-0.3,0-0.6,0.3-0.6,0.3c0,0.3,0,0.6,0.3,0.6c0.3,0.3,0.6,0.3,0.6,0.3c0.9,0,1.7,0,2.6,0s1.7,0,2.6-0.3
	c1.2,0,2.3-0.3,3.7,0c0.3,0,0.9,0,1.4,0c0.3,0,0.3-0.6,0.3-0.9c0,0-0.3-0.3-0.6-0.3c-0.3,0-0.9,0-1.2,0c-0.6,0-0.9-0.6-0.9-1.2
	c0-0.9,0.3-1.7,0.6-2.6c0.6-1.2,0.9-2,1.2-3.2c0.3-0.6,0.6-1.4,0.9-2c0.3-0.6,0.9-0.9,1.7-0.9c0.3,0,0.6,0.3,0.6,0.3
	c1.2-0.3,2.3,0.6,3.5-0.3c1.2,0.6,2.6,0.3,4,0.3c0.6,0,0.9,0.3,1.2,0.9c1.2,2.6,2,4.9,3.2,7.5c0.3,0.3,0,0.6-0.3,0.9
	c-0.6,0.3-0.6,0.6,0,0.9c0.6,0.3,0.9,0.9,1.4,0.3c0.3-0.3,0.9,0,1.2,0c2.3,0,4.9,0,7.2,0.3c2.6,0.3,5.2,0,7.5-0.3
	c0.3,0,0.6-0.3,1.2-0.3c1.4,0.3,2.6,0.6,4,0.6C257.8,163.2,258.7,163.2,259,162.1z M260.4,146c0.6-1.2,0.9-2.3,1.4-3.5
	c1.2-2.6,2.3-5.2,3.2-8.1c0-0.3,0.3-0.3,0.3-0.6c0.3,0.3,0.3,0.3,0.6,0.6c0.6,0.9,0.9,2,1.2,2.9c1.2,2.6,2,5.2,3.2,8.1
	c0.3,0.9,0,1.4-1.2,1.4c-0.9,0.6-1.7-0.3-2.6,0c-0.3,0-0.9-0.3-1.2,0c-1.4,0.3-2.9,0-4.3,0C260.4,146.8,260.4,146.5,260.4,146z
	 M230.2,150.3c0,0-0.3,0-0.6,0s-0.3,0-0.3,0c-2,0.6-4,0.3-6,0.3c-0.6,0-0.9,0-1.2-0.6c-0.3-0.6,0-0.9,0.3-1.4
	c0.3-0.3,0.6-0.6,0.6-1.2c0.6-1.7,1.4-3.5,2-4.9c0.3-0.6,0.6-0.9,0.6-1.4c0-0.3,0-0.6,0.3-0.6s0.3,0.3,0.6,0.6
	c0.9,2.3,2,4.9,2.9,7.2c0.3,0.6,0.6,0.9,0.6,1.2C230.2,150,230.2,150.3,230.2,150.3z" />
			<path fill="#FFFFFF" d="M50.1,125.3c-0.9,0-2,0-2.9,0c-1.4,0.3-2.9,0.3-4.3,0c-0.3,0-0.9,0-1.2,0c-0.9,0.3-1.7,0.3-2.6,0
	c-0.9-0.3-1.7,0.3-2.3,0.6l-0.3,0.3l0.3,0.3c1.2,0,2.3,0,3.2,0.6c1.2,0.6,1.7,0.9,1.7,2.3c0,0.6,0,0.9,0,1.4c-0.3,0.9,0.6,2,0.3,2.9
	c0.9,0.9,0.6,2,0.3,2.9c0,0,0,0.3,0,0.6c0,0.6,0.3,1.2,0.3,1.7c0,2,0,4.3,0,6.3c0,2-0.3,4.3,0.3,6.3c0,0,0,0.3,0,0.6
	c-0.3,0.3-0.3,0.9,0,1.2v0.3c-0.3,0-0.3,0-0.6,0c-0.3,0-0.3-0.3-0.6-0.6c-2.3-2-4.6-4.3-6.9-6.3c-2.6-2.3-5.2-4.9-8.1-7.2
	c-0.3-0.3-0.3-0.3-0.6-0.6c-1.4-1.2-2.9-2.3-4.3-3.7c-1.7-1.4-3.5-3.2-5.2-4.9c-0.3,0-0.6-0.3-0.6-0.3c-0.9-0.6-1.7-1.2-2.3-2
	c-0.9-1.2-1.7-2-2.9-2.6c-0.6-0.3-0.9-0.3-1.2,0.3c-0.3,0.3-0.3,0.9-0.3,1.2c0,0.9,0,1.4,0,2.3c0,0.9,0,1.4,0,2.3c0,1.2,0,2.6,0,3.7
	c0,1.2,0,2.3,0,3.5s0,2.6,0,3.7c0,1.2,0,2.3,0,3.7c0,1.2-0.3,2.3-0.3,3.5c0,0.6,0.3,1.2,0,1.7c-0.3,1.2-0.3,2.3,0,3.5
	c0,0.3,0,0.6,0,0.9c-0.3,0.3-0.3,0.9,0,1.2c0,0.3,0,0.9,0,1.2s-0.3,0.6,0,0.6c0.3,0.6,0.3,1.2-0.3,1.7c-0.3,0.3-0.3,0.6,0,0.9
	c0,0.9-0.6,1.4-1.4,1.7c-0.6,0.3-1.2,0.3-1.7,0.3c-0.3,0-0.6,0-0.9,0.3c-0.3,0-0.3,0.6-0.3,0.9c0,0,0.3,0.3,0.6,0.3
	c0.6,0,1.2,0.3,1.7,0c1.2,0,2.6-0.3,3.7-0.6c0.6,0,1.2,0,1.4,0c0.6,0,1.2,0.3,1.7,0.3c1.2,0,2.3-0.3,3.5,0c0.6,0.3,1.2-0.3,1.7-0.3
	l0.3-0.6c0-0.3-0.3-0.6-0.6-0.6c-0.6,0-1.2,0-1.4,0l0,0c-0.3,0-0.3,0-0.6,0c-1.2,0-2.6-1.2-2.9-2.3c0-0.9-0.3-1.7-0.3-2.6
	c0-2.3,0-4.9-0.3-7.2c0-0.9,0-1.7,0-2.6s0-2,0-2.9c0-0.9-0.6-1.7,0-2.6c-0.6-1.2-0.3-2.3-0.3-3.5c0-0.9-0.3-1.4-0.3-2.3
	c0-0.3,0-0.3,0-0.6c0.3,0,0.6,0.3,0.6,0.3c0.3,0.3,0.6,0.6,0.6,0.9c3.2,2.9,6.3,5.8,9.5,8.6c2.3,2.3,4.9,4.3,7.2,6.6
	c2,1.7,3.7,3.2,5.8,4.9c1.7,1.4,3.2,2.9,4.6,4.3c0.9,0.9,1.7,1.4,2.9,2c1.2,0.6,1.7,0.3,1.7-0.9c0-0.9,0-2,0-2.9c0-0.9,0.6-2,0-2.9
	c0.6-1.4,0.3-2.9,0.3-4.3c0-2.3,0-4.9,0-7.2c0-2.6,0-4.9,0-7.5c0-2.3,0.6-4.9,0-7.2c0-0.3,0-0.3,0-0.6c0-0.6,0.3-1.2,0.3-1.7
	c0.3-1.4,1.2-2.3,2.6-2.3c0.3,0,0.3,0,0.6,0c0.9,0,1.2-0.3,1.2-0.9C51.3,125.6,50.7,125.3,50.1,125.3z" />
			<path fill="#FFFFFF" d="M122.3,133c-1.7,0-3.5,0-5.5,0l0,0c-1.4,0-3.5,0-5.2,0c-0.3,0-0.3,0-0.6,0.3c0.3,0.3,0.3,0.6,0.6,0.9
	c0.3,0.6,0.9,0.3,1.4,0.3c1.2,0,2,0.6,2,1.4c0.3,0.9,0.3,1.4,0.3,2.3c0,1.7-0.3,3.2,0,4.9c0,0.3,0,0.9-0.3,1.2c0,0.3-0.3,0.6,0,0.6
	c0.6,1.2,0.3,2.3,0.3,3.7c0,2,0,4.3-0.3,6.3c-0.3,1.2-0.3,2.3-0.9,3.2c-0.6,1.2-1.4,2.3-2.9,2.9c-1.2,0.3-2.3,0.6-3.7,0.6
	c-0.6,0-1.2,0-2,0c-1.7,0-1.7,0-3.2-0.6c-2-0.9-3.2-2.3-4-4.3c-0.6-1.4-0.6-2.9-0.6-4.3c0-1.2,0-2.3,0-3.5c0-1.2,0-2.3,0-3.5
	c0-0.6-0.3-1.2-0.3-1.7c0-2,0-4.3,0-6.3c0-0.3,0-0.6,0.3-1.2c0-0.9,0.6-1.4,1.4-1.7c0.3,0,0.6,0,0.9,0c0.6,0,0.6-0.3,0.6-0.6
	s-0.3-0.6-0.6-0.6c-0.6,0-1.4,0-2.3,0c-0.9,0-1.7-0.3-2.3,0c-0.9,0.3-1.4-0.3-2,0c-0.6,0.3-0.9,0-1.4,0c-1.7,0-3.2,0-4.9,0H87
	c-0.3,0-0.3,0.6,0,0.6c0.3,0.3,0.6,0.3,1.2,0.6c0.3,0,0.6,0,1.2,0c1.2,0,1.7,0.9,1.7,2c0,0.6,0.3,0.9,0.3,1.4c0,0.3,0.3,0.6,0,0.9
	c-0.6,0.6-0.3,1.4,0,2c0.3,0.9,0.3,1.4,0,2.3c0,0.3,0,0.6,0,0.6c0.3,0.9-0.3,2,0.6,2.9c0,0,0,0.3,0,0.6c-0.3,0.6,0.3,1.4-0.3,2
	c0,0.6,0.3,1.4,0.3,2c0,0.3-0.3,0.6-0.3,1.2c0,0.9,0.3,1.7,0.3,2.3c0,1.4,0.3,2.3,0.9,3.5c0.9,1.7,1.7,3.2,3.5,4
	c2,1.4,4.3,2.3,6.9,2.3c0.9,0,1.7-0.3,2.6,0c0.9,0.3,1.7,0,2.6,0c1.7,0,3.5-0.6,5.2-1.4c1.4-0.9,2.6-2,3.7-3.2
	c0.3-0.3,0.6-0.9,0.9-1.2c1.4-2.3,1.4-4.9,1.7-7.5c0.3-4.6,0-9.2,0-14.1c0-1.7,0.3-2.3,2-2.3c0.3,0,0.3,0,0.6,0
	c0.3,0,0.6-0.3,0.6-0.9C123.2,133,122.6,133,122.3,133z" />
			<path fill="#FFFFFF" d="M88.1,163.8c0.3-0.3,0.9-0.6,0.9-0.9c0-0.6-0.6-0.6-1.2-0.6c-0.3,0-0.3,0-0.6,0c-1.2-0.3-2.6-0.6-3.2-1.7
	c-0.6-1.2-1.4-2.3-2-3.7c-0.3-0.6-1.2-1.4-1.2-2c-0.3-2.3-2-3.5-2.6-5.8c-0.9-0.9-0.6-2.3-1.7-3.2c0,0,0,0,0-0.3
	c0.3-0.6-0.3-1.2-0.6-1.7c-0.3-0.3-0.6-0.6-0.6-0.9c-0.3-1.4-0.9-2.6-1.7-4c0-0.3-0.3-0.6-0.3-0.6c-0.3-1.2-0.6-2-1.7-2.9l-0.3-0.3
	c0.3-0.9-0.6-1.4-0.9-2c-0.3-0.6-0.3-1.2-1.2-0.9c-0.6,0-0.9,0.6-1.2,1.2c0,0.3-0.3,0.3-0.3,0.3c-0.3,1.2-0.9,2.6-1.4,3.5l-0.3,0.3
	c0.3,1.2-0.6,1.7-1.2,2.6c-0.3,0.6-0.3,1.2-0.6,1.4c-0.9,0.9-1.2,2.3-1.7,3.5c-0.6,1.2-0.9,2.3-1.4,3.5c-0.3,1.2-0.9,2-1.4,3.2
	c-0.6,1.7-1.4,3.2-2,4.9c-0.6,1.4-1.2,2.6-2,4c-0.6,0.9-1.2,1.4-2.3,1.7c-0.9,0.3-1.7,0.6-2.6,0.6l-0.3,0.3l0.3,0.3
	c0.3,0,0.6,0,0.9,0c1.2,0,2-0.3,3.2,0c0.3,0,0.6,0,0.9,0c1.7-0.3,3.2-0.3,4.9,0c0.6,0.3,1.4,0.3,2-0.3l0.3-0.3
	c0-0.3-0.3-0.3-0.3-0.3l-0.3,0.3c-1.7,0-2.6-0.9-2-2.6c0.3-1.2,0.9-2.3,1.2-3.2s0.9-2,1.4-2.9c0.3-0.6,0.6-0.9,1.2-0.9
	c1.4,0,2.9,0,4.3,0s2.9,0,4.3,0c0.9,0,1.2,0.3,1.4,0.9c0.3,1.2,0.9,2.3,1.4,3.5c0.6,1.2,0.9,2.3,1.4,3.5c0.3,0.6,0.3,1.2-0.3,1.4
	c-0.3,0.3-0.3,0.6,0.3,0.9c0.3,0,0.6,0,0.9,0c1.4,0,2.6,0,4,0s3.2-0.3,4.6,0.3C87.5,164.1,87.8,163.8,88.1,163.8z M72.6,150.9
	c-1.2,0-2,0-3.2,0l0,0c-0.9,0-2,0-3.2,0c-0.6,0-0.9-0.3-0.6-0.9c0.3-0.9,0.6-1.7,1.2-2.6c0.9-2,1.4-4,2.3-6c0-0.3,0.3-0.3,0.3-0.6
	c0,0.3,0.3,0.3,0.3,0.6c1.2,2.9,2.3,5.8,3.5,8.3C73.4,150.6,73.2,150.9,72.6,150.9z" />
			<path fill="#FFFFFF" d="M204.9,155.8c-0.3-0.3-0.6-0.3-0.6,0.3c-0.3,0.9-0.6,1.7-0.9,2.3c-1.2,1.7-2.9,2.9-5.2,2.9
	c-0.3,0-0.9,0-1.2,0c-1.7,0.3-3.2,0.3-4.9,0c-0.3,0-0.6,0-0.9,0c-0.3,0-0.6,0-0.9,0c-1.7-0.9-3.2-1.4-4.6-2.6
	c-0.9-0.6-1.4-1.7-2.3-2.3c-0.3,0-0.3-0.3-0.3-0.6c-0.6-1.2-1.2-2-1.4-2.9c-0.6-1.7-1.2-3.5-1.2-5.5c0-0.9,0.3-1.7,0.3-2.9
	c0-1.7,0.6-3.5,1.4-4.9c0.6-0.9,1.2-2,2-2.6c2-1.4,4.3-2.3,6.9-2.3c0.9,0,2,0,2.9,0c2,0,3.7,0.3,5.5,1.2c2,0.9,3.5,2,3.5,4.6
	c0,0.3,0,0.3,0,0.6c0.3,0.6,0.6,0.6,1.2,0.6c0.3,0,0.3-0.3,0.6-0.6c0.3-0.9,0-1.4,0-2.3c0-1.2,0-2.6,0-3.7c0-0.9-0.6-1.2-1.2-1.4
	c-0.9,0-2-0.3-2.9-0.3c-0.6,0-1.2-0.3-1.7-0.3c-1.4,0.3-2.9-0.6-4.3,0h-0.3c-0.6-0.3-1.2-0.3-2,0c-0.3,0-0.9,0.3-1.2,0
	c-1.2-0.3-2.3,0-3.2,0c-3.2,0.6-6.3,1.7-8.6,4c-0.3,0-0.3,0.3-0.6,0.3c-1.2,0.9-2,1.7-2.6,2.9c-0.9,1.4-1.7,3.5-2,5.2
	c-0.9,2.6-0.3,5.2,0.3,7.8c0.3,1.4,1.2,2.6,2,3.7c1.7,2.6,4.3,4.3,7.2,5.8c1.7,0.9,3.7,1.4,5.8,1.7c1.4,0,2.9,0.6,4.6,0.6
	c1.2,0,2.3-0.3,3.7-0.3c1.7,0.3,3.5,0,5.5-0.6c0.9-0.3,1.7-0.9,1.7-1.7c0.3-1.4,0.6-2.9,0.9-4.3C205.5,156.3,205.2,156,204.9,155.8z
	" />
			<path fill="#FFFFFF" d="M147.7,153.2c0-0.3,0-0.6-0.3-0.9c-1.4-2-2.6-4-4.6-5.2c-1.2-0.9-2-2-3.2-2.6c-1.7-0.9-2.9-2-4-3.2
	c-2.3-2.3-0.6-5.5,1.7-6c0.9-0.3,2-0.3,2.9-0.3c1.2,0,2.3,0.3,3.5,1.2c0.9,0.6,1.4,1.7,1.7,2.9c0,0.6,0.3,1.2,0.9,1.2
	c0.3,0,0.6-0.6,0.6-1.4c0-1.4-0.3-2.6,0.3-4c0-0.3,0-0.3-0.3-0.6c-0.3-0.9-0.9-1.4-1.7-1.4c-1.7-0.3-3.2-0.3-4.9-0.3
	c-2,0-4,0.3-5.8,1.2c-0.9,0.6-2,1.2-2.9,2c-2,2-2,4.3-1.4,6.6c0.6,2.6,2.3,4,4.3,5.8c2,1.7,4.3,2.9,6.3,4.6c1.2,0.9,2,2,2.3,3.5
	c0.6,2.6-1.2,5.2-3.7,5.5c-0.6,0-0.9,0.6-1.2,0.6c-0.6,0-0.9-0.3-1.4-0.6c-0.3,0-0.3,0-0.6,0c-1.7,0.3-3.2-0.6-4-2
	c-0.6-0.9-1.2-1.7-0.9-2.9c0-0.6-0.3-0.9-0.6-1.4c-0.6-0.6-0.6-0.6-0.9,0.3c0,0.3-0.3,0.6-0.3,0.9c0,1.2-0.6,2.3,0,3.5
	c0,0.3-0.3,0.6-0.3,0.6c0,0.6,0,1.2,0.3,1.4c0.6,0.6,1.2,0.9,1.7,0.9c1.7,0.6,3.5,0.9,5.2,0.6c1.2,0,1.7,0,2.6,0
	c0.9,0,2-0.3,2.6-0.6c2-0.9,4-2,5.2-3.7c0.9-1.2,1.4-2,1.4-3.5C147.7,155.2,147.9,154,147.7,153.2z" />
			<path fill="#FFFFFF" d="M155.1,133.6c0.3,0,0.3,0,0.6,0c1.2,0,2.3,0.9,2.3,2c0,1.2,0,2,0.3,3.2c0,1.2,0.3,2,0,3.2
	c-0.3,0.3,0,0.9,0.3,1.4c0.3,0.6,0.6,1.2,0,1.7c0,0.3,0,0.6,0,0.9c0,0.6,0.3,1.2,0.3,1.7c0,0.9-0.3,1.7-0.3,2.3
	c0.6,2.3-0.3,4.3,0,6.6c-0.6,0.6-0.6,1.2,0,1.4c0,0,0,0.3,0,0.6c-0.3,0.9-0.3,2-0.6,2.9c0,0.3-0.3,0.6-0.6,0.6
	c-0.6,0-0.9,0.6-1.4,0.3c-0.6-0.3-0.9,0.3-1.2,0.6l0.3,0.3c0.9,0,1.7,0.3,2.6,0c0.9-0.3,2-0.3,2.9-0.3c2.3,0,4.9,0,7.2,0.3
	c0.6,0,0.9,0,1.2-0.6c0-0.3-0.6-0.6-0.9-0.6c-0.6,0-1.4,0-2,0c-0.9,0-1.4-0.6-1.4-1.2c-0.3-1.2-0.3-2-0.3-3.2c0-6.9,0-13.5,0-20.4
	c0-0.6,0.3-1.2,0.3-1.7c0-1.2,0.6-1.4,1.4-1.4c0.6,0,0.9-0.3,1.4-0.3l0.3-0.3c0,0,0-0.3-0.3-0.3s-0.6,0-0.9,0c-1.7,0-3.5,0-5.2,0
	s-3.7,0-5.5,0c-0.3,0-0.6,0-0.9,0l-0.3,0.3C155.1,133.3,155.1,133.6,155.1,133.6z" />
			<path fill="#FFFFFF" d="M290.6,174.7c-0.6,0-1.4-0.3-2,0c-0.9,0.3-1.4-0.3-2.3,0c-1.4,0.3-2.9-0.3-4,0.3c-0.9-0.6-2,0-3.2-0.3
	c-1.2-0.3-2.3-0.3-3.5,0c-1.2,0-2,0-3.2,0.3c-0.6,0-1.2,0-1.7,0s-1.2-0.3-2,0c-1.2-0.9-2.3,0-3.7-0.3c-1.2-0.3-2.6,0.6-3.7,0
	c0,0-0.3,0-0.6,0c-0.9,0-2,0.6-2.9,0c-1.2-0.3-2,0.3-2.9,0.3c-0.6,0-0.6,0.6-0.6,0.9c0,0.6,0.3,0.9,0.6,0.9s0.6,0,0.9,0
	c8.9,0,18.1,0,27,0c0.6,0,1.2-0.3,1.7-0.3c1.2,0,2,0.3,3.2,0.3l0,0c0.9,0,1.4,0,2.3,0c0.9,0,1.2-0.3,1.2-1.2
	C291.8,175,291.5,174.7,290.6,174.7z" />
			<path fill="#FFFFFF" d="M33.2,175.9c-3.2,0-6.3,0-9.2,0c-0.3,0-1.7,0.3-2.3,0s-16.7,0-17.3,0.3c-0.3,0-0.3,1.2-0.3,1.4
	s0.6,0.3,0.9,0.3c2.6,0,5.2,0,7.8,0c0.6,0,2.9,0,3.5,0c2.9,0,5.5,0,8.3,0l0,0c1.2,0,2.3,0,3.2,0c1.7,0,3.7,0,5.5,0
	c0.3,0,0.9,0,0.9-0.3c0-0.6,0.3-1.2,0-1.7C34,175.9,33.5,175.9,33.2,175.9z" />
			<path fill="#FFFFFF" d="M223.6,169.8c-0.3,0-0.3,0.3-0.3,0.6c-0.3,1.2-0.6,2-0.9,3.2c-0.3,0.9-0.6,1.4-0.9,2l-0.3,0.3l-0.3-0.3l0,0
	c-0.6-1.2-0.9-2.6-2-3.5v-0.3c0.6-0.6-0.3-0.9-0.6-1.4c-0.3-0.3-0.6-0.3-0.6,0c-0.6,1.4-1.4,3.2-2,4.6c0,0.3-0.3,0.6-0.3,0.9h-0.3
	c0,0-0.3,0-0.3-0.3c-0.6-1.4-1.2-3.2-1.4-4.6c0-0.3,0-0.6,0-0.6c0.3-0.6,0-0.6-0.6-0.6c-0.3,0-0.6,0-0.9,0l0,0c-0.3,0-0.3,0-0.6,0
	h-0.3c-0.6,0-0.9,0.3-0.3,0.9c0.6,1.4,1.2,2.6,1.7,4c0.6,1.2,0.6,2.3,1.2,3.5c0,0.3,0.3,0.6,0.3,0.6c0.3,0.6,0.9,0.6,1.2,0
	c0.3-0.3,0.3-0.6,0.6-0.9c0.6-1.4,1.2-2.6,1.7-4c0-0.3,0.3-0.3,0.3-0.6c0,0.3,0.3,0.3,0.3,0.6c0.6,1.4,1.4,3.2,2,4.6
	c0.3,0.6,0.6,0.9,0.9,0.9c0.3,0,0.6-0.6,0.9-1.2c0.9-2.3,1.7-4.6,2.6-6.9c0-0.3,0.3-0.6,0.3-0.6c0.3-0.3,0.3-0.3,0-0.6
	C224.5,170.1,224.2,169.8,223.6,169.8z" />
			<path fill="#FFFFFF" d="M47.3,170.7c-1.4-0.6-3.2-0.6-4.9,0c-1.7,0.6-2.9,1.7-3.5,3.5c0,0.3-0.6,0.9-0.3,1.2
	c0.3,1.4,0.3,2.9,1.7,3.7c1.4,0.9,2.6,1.4,4.6,1.4c1.2,0,2.6-0.3,3.7-1.4l0.3-0.3c1.4-1.2,1.7-2.9,1.4-4.3
	C50.4,172.7,49,171.3,47.3,170.7z M47.8,177c-0.3,0.6-0.3,0.9-0.6,1.2c0,0.6-0.6,0.6-0.9,1.2c-0.3,0.6-0.9,0.3-1.2,0
	c-0.3,0-0.3,0-0.6,0c-2.3-0.3-3.2-1.4-3.2-3.5c0-0.3,0-0.6,0-0.9l0,0c0-0.3,0-0.9,0-1.2c0-1.4,1.2-2.6,2.6-2.6c1.2,0,2.3,0,3.2,1.2
	c0.3,0.3,0.6,0.6,0.6,1.2C47.8,174.7,48.4,175.9,47.8,177z" />
			<path fill="#FFFFFF" d="M160.6,171c-0.9-0.6-2-0.9-3.2-1.2c-1.4-0.3-2.3,0.3-3.5,0.9c-1.2,0.6-1.7,1.4-2.3,2.3
	c-0.6,0.9-0.6,2-0.3,2.9c0.6,1.7,1.4,3.2,3.2,3.5c0.9,0.3,2,0.3,2.9,0.3c0.3,0,0.6,0,0.6-0.3s-0.3-0.6-0.3-0.6
	c-0.3-0.3-0.6-0.3-0.9-0.3c-0.3,0.3-1.2,0.3-1.7,0c-0.3,0-0.6-0.3-0.6-0.6c-0.6-1.2-1.4-2.3-1.2-3.5c0-0.9,0-1.7,0.6-2.6
	c1.2-1.4,4.6-1.4,5.8,0.9c0.3,0.9,0.9,1.7,0.6,2.6s-0.6,1.4-0.6,2.3c0,0.3-0.3,0.6-0.6,0.9s-0.6,0.3-0.6,0.6v0.6
	c0,0,0.3,0.3,0.6,0.3c0.3-0.3,0.6-0.3,1.2-0.6c1.4-1.2,2.6-2.6,2.3-4.6C162.6,172.7,161.8,171.9,160.6,171z" />
			<path fill="#FFFFFF" d="M107.7,170.4c-0.6,0-0.9,0-1.4,0.3c-0.6,0-0.3,0.6-0.6,1.2c-0.3,0.6-0.6,0.9-0.9,1.4
	c-0.3,0.3-0.3,0.6-0.6,0.9c-0.3,0.9-0.6,1.7-0.9,2.9h-0.3c0-0.3-0.3-0.3-0.3-0.6c-0.6-1.2-1.2-2.3-1.4-3.5c-0.3-0.6-0.9-1.2-0.3-2
	c0,0-0.3-0.6-0.6-0.6c-0.3,0-0.9,0-1.2,0l0,0c-0.3,0-0.6,0-1.2,0c-0.3,0-0.6,0.3-0.3,0.6c0.9,0.9,1.2,2,1.7,3.2c0.9,2,2,4,2.9,6
	c0.3,0.3,0.6,0.3,0.9,0.3c0.3-0.3,0.6-0.6,0.6-0.9c0.3-0.3,0.3-0.9,0.6-1.2c1.2-2.3,2.3-4.6,3.5-7.2
	C108,170.7,107.7,170.4,107.7,170.4z" />
			<path fill="#FFFFFF" d="M73.4,170.4c-0.6,0-0.9-0.3-1.7,0c-0.6,0.3-1.4-0.3-2,0.3c0,0-0.3,0-0.6,0c-0.9,0-1.7-0.6-2.6,0
	c0,0-0.3,0-0.3-0.3c-0.9-0.3-1.2-0.3-1.7,0.9c0,0.3-0.3,0.3-0.3,0.6v0.3l0.3,0.3c0.3,0,0.6-0.3,0.6-0.3c0.9-0.3,1.7-0.6,2.6-0.3
	c0.6,0.3,0.3,1.2,0.3,1.7c0.3,0.9,0.3,1.4,0.3,2.3c0,1.2-0.3,2.3,0,3.5c0.3,0.9,0.3,0.9,1.2,0.9c1.4,0,1.4,0,0.9-1.2
	c0-0.3,0-0.3,0-0.6c0-1.2,0.3-2.3,0.3-3.7l0,0c0-0.6,0-1.4,0-2c-0.3-0.6,0.3-0.9,0.6-0.9c0.6,0,1.4,0,2,0.3c0.3,0,0.6,0.3,0.9-0.3
	C74.3,171.3,74,170.4,73.4,170.4z" />
			<path fill="#FFFFFF" d="M185.3,170.1c-1.4,0-2.6,0-3.7,0l0,0c-1.2,0-2.3,0-3.5,0c-0.3,0-0.6,0-0.9,0c-0.6,0-0.6,0.3-0.3,0.9
	c0.3,0.3,0,0.9,0.6,0.6c0.6-0.3,1.4-0.6,2.3-0.6c0.9,0,0.9,0.3,0.9,1.2c0,0.3-0.3,0.6-0.3,0.6c0.6,0.9,0,1.4,0,2.3
	c0.3,0.9,0.3,1.7,0.3,2.3c0,0.3,0,0.6,0,0.9s0,0.9-0.3,1.2c0.3,0,0.9,0,1.2,0.3h0.3c0.9,0,1.2-0.3,0.9-1.2c-0.3-1.2-0.6-2,0-3.2
	c0,0-0.3-0.3-0.3-0.6c0-1.2,0-2.3,0-3.5c0-0.3,0.3-0.6,0.6-0.6c0.9,0,1.4,0,2.3,0.6c0.3,0.3,0.6,0,0.6-0.3
	C186.2,170.7,186.2,170.1,185.3,170.1z" />
			<path fill="#FFFFFF" d="M83.2,178.5c0-1.2,0-2.3-0.3-3.2c0-0.3,0-0.3,0-0.6c0.3-1.2,0-1.2-0.9-1.2c-0.3,0-0.6,0-0.9,0.6
	c0,0.6,0,1.2-0.3,1.4c0,0.3-0.6,0.3-1.2,0.3c-0.3,0-0.3,0.3-0.6,0.3c-0.6,0-1.2-0.6-0.9-1.2c0-0.3,0-0.6,0-0.9s-0.3-0.6-0.3-0.6
	c-0.6,0-1.2-0.3-1.4-0.6c0,0-0.3,0-0.3,0.3v0.3c0.6,0.9,0.6,2,0.6,2.9c0,0.9-0.3,1.7-0.3,2.6c0,1.2,0,1.2,1.2,1.2
	c0.9,0,0.9,0,0.9-0.9c0-0.6-0.3-0.9-0.3-1.4c0-0.3,0.3-0.6,0.3-0.6c0.9,0,2-0.3,2.9,0c0.3,0,0.3,0.3,0.3,0.3c0,0.9,0,1.4-0.3,2.3
	c0,0.3,0,0.3,0,0.6c0.3,0,0.3,0,0.6,0c0.3,0,0.9,0,1.2,0c0.9,0,0.9,0,0.6-0.9C83.5,179.1,83.2,178.8,83.2,178.5z" />
			<path fill="#FFFFFF" d="M247.2,172.7c-1.2-0.3-2.3-0.3-3.2,0c-0.9,0.3-0.9,0.3-0.6,1.2c0,0.9,0,1.4,0,2.3l0,0c0,0.9,0,1.7,0,2.6
	c0,0.6,0.3,0.6,0.9,0.6c0.6,0,1.2,0,1.7,0s1.4,0.3,2.3,0c0.9-0.3,2-1.2,2.3-2c0.3-0.6,0.6-1.4,0.3-2
	C249.8,174.2,248.9,173,247.2,172.7z M248.3,177.9c0,0.3-0.6,0.3-0.9,0.6c-0.6,0.3-1.2,0.6-2,0.6c-0.3,0-0.6,0-0.6-0.3
	c-0.3-0.3-0.3-0.6-0.6-1.2c0-0.6,0-1.2,0-1.7l0,0c0-0.6,0-1.2,0-2c0-0.6,0.3-0.6,0.6-0.9c1.2-0.3,2.9,0.6,3.2,2
	C248.9,176.2,248.6,177,248.3,177.9z" />
			<path fill="#FFFFFF" d="M135.9,178.5c-0.6,0.6-1.2,0.6-1.7,0.6c-0.3,0-0.6-0.3-0.6-0.6c0-0.3,0-0.9,0-1.2c0-0.3,0.3-0.6,0.9-0.6
	c0.3,0,0.6,0.3,0.6,0.3s0.6,0,0.9,0c0-0.3,0-0.6-0.3-0.6c-0.3-0.3-0.6-0.6-1.2-0.3c-0.9,0-0.9-0.3-0.9-1.2c0-0.9,0.3-1.2,1.2-1.2
	h0.3c0.3-0.3,0.6-0.3,0.6-0.6c0-0.6-0.6-0.3-0.6-0.3c-0.3,0-0.6,0-0.9,0c-0.9,0-1.4,0-2.3,0c0,0.9,0,1.4-0.3,2.3c0,0.3,0,0.6,0,0.9
	c0,0.6,0,0.9,0,1.4c0,0.6,0,1.4,0,2c0.6,0,1.2,0.3,1.7,0.3c0.3,0,0.6,0.3,0.9,0.3c0.9,0,1.7-0.3,2-1.2
	C136.7,178.5,136.4,178.2,135.9,178.5z" />
			<path fill="#FFFFFF" d="M90.1,174.2c0,0,0.3,0,0.3,0.3c0.3,0.3,0.6,0,0.6-0.6c0-0.6-0.3-0.9-0.9-0.9c-0.6,0-0.9,0-1.4,0
	c-0.3,0-0.6,0-1.2,0c-0.9,0-0.9,0.3-0.9,1.2c0,1.4,0,2.9,0,4.3c0,0.6,0,1.2,0.6,1.4c0.9,0.3,1.7,0.3,2.6,0.3c0.6,0,0.9-0.6,0.9-1.2
	c-0.3-0.9-0.6-0.3-0.9,0c-1.2,0-1.4,0-1.4-1.4c0-0.9,0-0.9,0.9-0.9c0.3,0,0.9,0,1.2,0c0.3,0,0.6-0.6,0.3-0.9c0-0.3-0.6-0.3-0.9-0.3
	c-0.3,0-0.3,0.3-0.3,0.3c-0.3,0-0.9,0-1.2-0.3c-0.3-0.3,0-0.9,0.3-1.4C89.3,173.9,89.6,173.9,90.1,174.2z" />
			<path fill="#FFFFFF" d="M202.6,178.8L202.6,178.8c-1.4,0.3-1.7,0-1.7-1.4c0-0.6,0.3-0.9,0.9-0.6c0.3,0,0.6,0,0.9,0
	c0.3,0,0.6-0.3,0.6-0.6c0-0.3-0.3-0.6-0.6-0.6c-0.3,0-0.6,0-0.9,0c-0.6,0-0.9,0-0.9-0.6c0-0.3,0-0.3,0-0.6c0-0.6,0.3-0.9,1.2-0.9
	c0.3,0,0.3,0,0.6,0.3c0.3,0,0.6,0,0.6-0.3s-0.3-0.6-0.6-0.6c-0.6,0-1.2,0-1.7,0l0,0c-0.3,0-0.9,0-1.2,0c-0.6,0-0.6,0.3-0.6,0.9
	c0,0.9,0.3,1.4,0.3,2.3c0,0.3-0.3,0.6-0.3,0.6c0.3,0.9,0.3,1.7,0,2.6l0.3,0.6c1.2,0,2.3,0,3.7,0c0.6,0,0.9-0.6,0.6-0.9
	C203.2,178.5,202.9,178.5,202.6,178.8z" />
			<path fill="#FFFFFF" d="M239.1,173c-0.3,0-0.6,0-0.6,0.6c0,0.9,0,1.7,0,2.6c0,0.3,0,0.6,0,0.9c0,0,0,0.3-0.3,0.3c0,0-0.3,0-0.6,0
	c-0.3-0.9-1.4-1.4-2-2c-0.6-0.6-1.2-1.4-2-2c-0.6-0.6-1.2-0.3-1.2,0.6c0,0.3,0,0.6,0,0.9s0.3,0.6,0.6,0.6c0.9,0,1.2,0.3,1.7,0.9
	c1.2,1.2,2.3,2.3,3.5,3.2c0.3,0.3,0.6,0.3,0.9,0.3c0,0,0.3-0.3,0.3-0.6c0-0.9,0-1.7,0-2.3l0,0c0-0.9,0-2,0-2.9
	C239.7,173,239.4,173,239.1,173z" />
			<path fill="#FFFFFF" d="M113.7,175.9c-0.6-0.6-0.6-1.2-0.6-2c0-0.6-0.6-0.6-0.9-0.6c-0.6,0-0.6,0.3-0.6,0.6
	c-0.3,0.9-0.9,1.7-1.2,2.6c-0.3,0.9-0.9,1.7-1.2,2.6c0,0.3,0,0.6,0.3,0.6s0.6,0,0.9-0.3s0.3-0.9,0.6-1.4c0.3-0.9,1.2-0.6,1.7-0.9
	c0.6,0,0.9,0.3,0.9,0.9c0,0.3,0.3,0.3,0.3,0.6c0,0.6,0.3,0.9,0.9,0.9c1.2,0,1.2-0.3,0.9-1.2C114.9,177.9,114.6,176.7,113.7,175.9z
	 M112.3,176.7c-0.3-0.3-0.6-0.3-0.6-0.6c0,0,0-0.3,0.3-0.6c0.3,0.3,0.6,0.3,0.9,0.6C112.6,176.5,112.6,176.7,112.3,176.7z" />
			<path fill="#FFFFFF" d="M57.1,173.3c-0.6,0-0.9,0-1.7,0l0,0c-0.3,0-0.9,0-1.4,0c-0.6,0-0.9,0.3-0.6,0.9c0.3,1.7,0.3,3.5,0,5.5
	c0,0.6,0.3,0.9,0.6,0.9s0.6-0.3,0.9-0.3c0.3,0,0.6-0.3,0.3-0.6c0-0.6-0.3-1.4-0.3-2c0-0.6,0.6-0.9,1.2-0.6c0.3,0,0.6,0.3,0.9,0.6
	c0.3,0,0.3,0,0.6-0.3c0,0,0-0.3,0-0.6c-0.3-0.3-0.3-0.6-0.6-0.6c-0.3,0-0.6,0-0.9,0c-0.6,0-0.9-0.3-0.9-0.9c0-0.6,0.3-0.9,1.2-0.9
	c0.3,0,0.9,0,1.4,0c0.3,0,0.3-0.3,0-0.6C57.3,173.6,57.1,173.3,57.1,173.3z" />
			<path fill="#FFFFFF" d="M143.9,173.3c-0.3-0.3-0.9-0.3-1.2,0s-0.3,0.6-0.6,0.9c-0.3,0.6-0.6,0.9-0.6,1.4h-0.3
	c-0.3-0.6-1.2-0.9-1.4-1.7c-0.3-0.9-0.6-1.2-1.4-0.9c-0.3,0-0.6,0.6-0.3,0.9c0.6,0.6,0.9,1.4,1.4,2c0.9,0.9,0.3,1.7,0.9,2.3
	c0,0.3-0.3,0.3-0.3,0.3c0,0.6,0.3,1.2,0.9,1.2c0.9,0,0.9,0,0.9-1.2c0-0.3,0-0.3,0-0.6c0-0.9,0-1.7,0.9-2.6c0.6-0.3,0.6-0.9,1.2-1.4
	C144.2,173.9,144.2,173.6,143.9,173.3z" />
			<path fill="#FFFFFF" d="M169.2,175.9c-0.3,0-0.9,0-1.2,0c-0.3,0-0.6,0-0.6-0.3c0-0.6,0-0.9,0-1.4c0-0.3,0.6-0.3,0.9-0.3s0.6,0,1.2,0
	c0.3,0,0.3,0,0.6,0c0-0.3,0-0.3-0.3-0.6c0,0-0.3-0.3-0.6-0.3c-0.6,0-1.2,0-1.4,0l0,0c-0.6,0-1.2,0-1.7,0l-0.3,0.3
	c0.3,0.9,0,1.4,0,2.3c0,0.6-0.3,1.2,0,1.4c0.3,0.6,0,1.2,0,1.7c-0.3,0.6,0.3,1.2,0.9,1.2c0.9,0,0.9,0,0.9-0.9c0-0.3,0-0.6,0-0.9
	c0-0.6,0-1.2,0.3-1.4c0.6-0.3,0.9,0.3,1.4,0.3c0.3,0.3,0.6,0,0.9-0.3C169.8,176.2,169.5,175.9,169.2,175.9z" />
			<path fill="#FFFFFF" d="M121.5,179.1c-0.3,0.3-0.6,0.3-0.9,0c-0.6-0.3-0.6-0.6-0.6-1.2c0-1.4-0.3-3.2,0.3-4.6c0,0-0.3-0.3-0.3-0.6
	s-0.3,0-0.6,0l0,0c-0.3,0-0.6,0-0.9,0.3c0,0,0,0.6,0.3,0.9c0,0.3,0,0.6,0,0.9c0.3,1.4-0.3,2.6,0,4c0,0.3-0.3,0.6,0,0.9
	s0.6,0,0.9,0.3c0.3,0,0.9,0.3,1.2,0.3c0.6,0,1.2,0,1.7,0c0.3,0,0.3-0.6,0.6-0.6c-0.3-0.3-0.6-0.3-0.9-0.6
	C121.8,178.8,121.5,179.1,121.5,179.1z" />
			<path fill="#FFFFFF" d="M128.4,179.1l-0.3,0.3c-0.6,0-1.2,0-1.2-0.9c0-0.3,0-0.6,0-0.9c0-1.2-0.3-2.3,0.3-3.5
	c0.3-0.6-0.3-0.9-0.9-0.9c-0.6,0-1.2,0.3-1.2,0.9c0,0.9,0,2,0,2.6l0,0c0,0.3,0,0.3,0,0.6c0,0.9,0,2,0.3,3.2c1.2,0,2,0,3.2,0
	c0.6,0,1.2-0.6,0.9-0.6C129.2,179.1,128.7,179.1,128.4,179.1z" />
			<path fill="#FFFFFF" d="M259.5,122.4c0.3,0.3,0.6,0.3,0.9,0.6c0.6,0.6,1.2,0.6,2,0c0.6-0.6,1.2-1.2,1.2-2c-0.3-0.6-1.4-1.7-2-1.7
	c-0.9,0-2,0.9-2.3,1.4C259,121.5,259.3,122.1,259.5,122.4z" />
			<path fill="#FFFFFF" d="M195.4,176.5c0-0.9,0.3-2,0.3-2.9c0-0.6-0.3-1.2-0.9-0.9c-0.3,0-0.6,0-0.9,0.3c-0.3,0-0.3,0.3-0.3,0.6
	c0,0.6,0.3,1.2,0.3,1.7c-2,0.6-0.9,0.6,0,1.2c0,0,0,0.6-0.3,0.9c0,0.6-0.3,1.2-0.3,1.7c0,0.3,0.3,0.6,0.6,0.6s0.6,0,0.6,0
	c1.2,0,1.2-0.3,1.2-1.2C195.4,177.9,195.4,177.3,195.4,176.5z" />
			<path fill="#FFFFFF" d="M229.3,177c0-0.9-0.3-1.7,0-2.6c0.3-0.3,0-0.9,0-1.4c0-0.3-0.3-0.3-0.3-0.3c-0.6-0.3-1.4,0.3-1.4,1.2
	c0,0.6,0,0.9,0.3,1.4c0,0.3,0.3,0.6,0,0.6c-0.3,0.6-0.3,1.4-0.3,2c0,1.7-0.3,1.4,1.7,1.4c0.3,0,0.3,0,0.3,0
	C229.3,178.5,229.1,177.6,229.3,177z" />
			<path fill="#FFFFFF" d="M272.2,123.5c0.9-0.3,1.4-0.6,2-1.4c0-0.3,0.3-0.6,0.3-0.6c-0.3-0.9-1.2-1.4-2-1.4c-0.6,0-1.2,0-1.7,0.6
	s-0.6,1.2-0.3,1.4C270.8,122.7,271.3,123.5,272.2,123.5z" />
			<path fill="#FFFFFF" d="M190.8,175.6c-0.3,0-0.3-0.6-0.6-0.9c-0.3-0.3,0-0.6,0-1.2c0-0.3,0-0.6-0.3-0.6c-0.6,0-0.9,0-0.9,0.6
	c-0.3,0.9-0.3,1.4,0,2.3c0,0.9,0.3,1.7,0,2.6c-0.3,1.2,0,1.4,1.2,1.4c0.9,0,0.9,0,0.6-0.9c-0.3-0.6-0.3-1.4-0.3-2.3l0.3-0.3
	C192.2,176.2,192.5,175.9,190.8,175.6z" />
			<path fill="#FFFFFF" d="M234.2,177.9c-0.3-0.6-0.9-1.2-0.6-2l-0.3-0.3c-0.3,0-0.3,0.3-0.3,0.3c0,0.3,0,0.6,0,0.9
	c0,0.6,0.3,1.2-0.3,1.7c-0.3,0.3,0.3,0.9,0.9,0.9c0.6,0,0.9-0.3,0.9-0.6C234.2,178.8,234.2,178.2,234.2,177.9z" />
		</svg>
	</div>
