<div class="qrContainer">
	<img src="http://api.qrserver.com/v1/create-qr-code/?data={{rootUrl}}{{token}}>&size=250x250" alt="Join the adventure of wind memory">
</div>
<div class="linkText">
	<p><span class="rootUrl">{{rootUrl}}</span><span class="token">{{token}}</span>
	</p>
</div>
