<div class="main-screen sequence">
    <div class="qte-mode">
        <div class="qte-progression"></div>
        <div class="qte-action"></div>
    </div>
    <footer class="timeline-container">
        <div class="timeline">
            <!-- import here timeline-part -->
        </div>
    </footer>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
        <linearGradient id="gradient" gradientUnits="userSpaceOnUse" x1="0" y1="8.0012" x2="16" y2="8.0012">
            <stop offset="0" style="stop-color:#CD824B" />
            <stop offset="0.5" style="stop-color:#FFDC91" />
            <stop offset="1" style="stop-color:#CD824B" />
        </linearGradient>
    </svg>
</div>
