<div class="main-screen home-movie <%= filmName %> ">
	<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

	<div id="map">
		<div class="map-borders"></div>
		<div class="map-preview">
			<div class="map-content"></div>
		</div>
	</div>

    <!-- include sound -->
    <% include modules/sound %>

	<nav class="menu">
		<ul>
			<li><a href="#" class="active menu-link">New Game</a>
			</li>
			<li><a href="#" class="menu-link">Select sequence</a>
			</li>
			<li><a href="#" class="menu-link">Treasure won</a>
				<ul class="menu-second-level">
					<li><a href="#" class="menu-link">S1 : Characters infos</a>
					</li>
					<li><a href="#" class="menu-link">S2 : Film analysis</a>
					</li>
					<li><a href="#" class="menu-link">S3 : Fan art</a>
					</li>
				</ul>
			</li>
			<li><a href="#" class="menu-link">Infos</a>
			</li>
		</ul>
	</nav>


    <!-- include here footer with credits -->
    <% include modules/credits %>
</div>
