<div class="main-screen sequence">
    <div class="qte-mode">
        <div class="qte-progression"></div>
        <div class="qte-action"></div>
    </div>
    <div class="qte-badge animated">
    </div>
    <footer class="timeline-container">
        <div class="timeline">
            {{#each sequences}}
                <div class="timeline-3-seq">
                    <div class="timeline-part"></div>
                        {{addingQTE}}
                        <svg class="qte-shield" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
                            <path d="M2.4,10.5c-3.8-6.7-1.9-10,5.6-10c7.5,0,9.4,3.3,5.6,10C9.9,17.2,6.1,17.2,2.4,10.5z" />
                            <path class="shield-border"  fill="url(#gradient)" d="M8,0C0,0-2,3.6,2,10.7s8,7.1,12,0S16,0,8,0z M12.5,9.5c-3,5.1-6,5.1-9,0
                            C0.5,4.3,2,1.8,8,1.8S15.5,4.3,12.5,9.5z" />
                            <circle class="shield-point"  fill="url(#gradient)" cx="8" cy="7.6" r="2" />
                        </svg>
                </div>
            {{/each}}
        </div>
    </footer>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
        <linearGradient id="gradient" gradientUnits="userSpaceOnUse" x1="0" y1="8.0012" x2="16" y2="8.0012">
            <stop offset="0" style="stop-color:#CD824B" />
            <stop offset="0.5" style="stop-color:#FFDC91" />
            <stop offset="1" style="stop-color:#CD824B" />
        </linearGradient>
    </svg>
</div>
