<div class="timeline-3-seq">
    <div class="timeline-part"></div>
    <% for(var i=0; i<qte.length; i++) { %>
        <div class="qte" style="left: <%= qte[i].time / movieDuration * 100 %>%"></div>
    <% } %>
    <svg class="qte-shield" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
        <path d="M2.4,10.5c-3.8-6.7-1.9-10,5.6-10c7.5,0,9.4,3.3,5.6,10C9.9,17.2,6.1,17.2,2.4,10.5z" />
        <path class="shield-border"  fill="url(#gradient)" d="M8,0C0,0-2,3.6,2,10.7s8,7.1,12,0S16,0,8,0z M12.5,9.5c-3,5.1-6,5.1-9,0
        C0.5,4.3,2,1.8,8,1.8S15.5,4.3,12.5,9.5z" />
        <circle class="shield-point"  fill="url(#gradient)" cx="8" cy="7.6" r="2" />
    </svg>
</div>
