<div class="qte-container">
	<div class="qte-information"></div>
</div>
<video class="video" preload="auto" class="sequence-video">
	<source type="video/mp4" src="{{movieLink}}.mp4"></source>
	<source type="video/ogv" src="{{movieLink}}.ogv"></source>
	<source type="video/webm" src="{{movieLink}}.webm"></source>
</video>
