<div class="sequence"></div>
<video class="video sequence-video" preload="auto">
	<source type="video/mp4" src="{{movieLink}}.mp4"></source>
	<source type="video/ogv" src="{{movieLink}}.ogv"></source>
	<source type="video/webm" src="{{movieLink}}.webm"></source>
</video>
