<div class="film-screen {{filmName}}"></div>


    <div class="skip-intro screen">
        <div class="middle-screen-container skip-intro-container">
            To skip introduction,
            <br>swipe down here
        </div>
        <div class="arrows">
            <div class="arrow">
                <svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36.1 20.9" enable-background="new 0 0 36.1 20.9" xml:space="preserve">
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#CD834B" d="M35.2,5.7L20.8,19.5l0,0L20.3,20c-1.2,1.2-3.2,1.2-4.4,0l-0.6-0.5
	l0,0L1,5.7c-1.2-1.2-1.2-3.1,0-4.3l0.6-0.5c1.2-1.2,3.2-1.2,4.4,0l12.1,11.7L30.2,0.9c1.2-1.2,3.2-1.2,4.4,0l0.6,0.5
	C36.4,2.6,36.4,4.5,35.2,5.7z" />
                </svg>
            </div>
            <div class="arrow">
                <svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36.1 20.9" enable-background="new 0 0 36.1 20.9" xml:space="preserve">
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#CD834B" d="M35.2,5.7L20.8,19.5l0,0L20.3,20c-1.2,1.2-3.2,1.2-4.4,0l-0.6-0.5
	l0,0L1,5.7c-1.2-1.2-1.2-3.1,0-4.3l0.6-0.5c1.2-1.2,3.2-1.2,4.4,0l12.1,11.7L30.2,0.9c1.2-1.2,3.2-1.2,4.4,0l0.6,0.5
	C36.4,2.6,36.4,4.5,35.2,5.7z" />
                </svg>
            </div>
            <div class="arrow">
                <svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36.1 20.9" enable-background="new 0 0 36.1 20.9" xml:space="preserve">
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#CD834B" d="M35.2,5.7L20.8,19.5l0,0L20.3,20c-1.2,1.2-3.2,1.2-4.4,0l-0.6-0.5
	l0,0L1,5.7c-1.2-1.2-1.2-3.1,0-4.3l0.6-0.5c1.2-1.2,3.2-1.2,4.4,0l12.1,11.7L30.2,0.9c1.2-1.2,3.2-1.2,4.4,0l0.6,0.5
	C36.4,2.6,36.4,4.5,35.2,5.7z" />
                </svg>
            </div>
        </div>
    </div>
