	<script src="/mobile/js/Touch.class.js"></script>
	<script src="/mobile/js/model.js"></script>
	<script src="/mobile/js/view.js"></script>
	<script src="/mobile/js/controller.js"></script>
	<script src="/mobile/js/main.js"></script>
</body>
</html>