<svg version="1.1" id="swipeleft" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 595.3 841.9" enable-background="new 0 0 595.3 841.9" xml:space="preserve">
<g id="smartphone_2_">
	<path fill="#FFEBC0" d="M214.5,0h225.3c46.5,0,84.5,38,84.5,84.5v535c0,46.5-38,84.5-84.5,84.5H214.5c-46.5,0-84.5-38-84.5-84.5
		v-535C130,38,168,0,214.5,0z"/>
	<path fill="#362B11" d="M231.4,31h191.5c39.4,0,71.8,35.2,71.8,77.4v488.5c0,42.2-32.4,77.4-71.8,77.4H231.4
		c-39.4,0-71.8-35.2-71.8-77.4V108.4C159.6,64.8,192,31,231.4,31z"/>
</g>
<path id="hand_2_" fill="#FFEBC0" d="M232.9,840.7c-52.4-4.2-87.8-26.7-83.6-64.8c4.2-38-85-97.1-77.9-123.9
	c9.9-40.8-7.1-66.2,9.9-90.1c17-15.5,36.8-42.2,55.2-50.7c17-7,17,16.9,7.1,38c-8.5,19.7-14.2,59.1-1.4,60.5
	c12.7,1.4,55.2-60.5,53.8-98.5c1.4-9.9,0-15.5,9.9-56.3c5.7-26.7,5.7-61.9,9.9-84.5c-19.8-14.1-35.4-25.3-35.4-25.3
	s43.9-32.4,73.7-52.1c12.7-8.4,22.7-19.7,22.7-4.2c0,14.1,0,31,0,31s66.6,1.4,121.8,21.1c49.6,18.3,72.2,54.9,72.2,54.9
	c-2.8-1.4-34-21.1-110.5-31c-76.5-11.3-83.6,0-83.6,0s0,11.3,0,26.7s-4.2,15.5-12.7,11.3c1.4,12.7,2.8,31,7.1,60.5
	c32.6-16.9,49.6,5.6,58.1,50.7c26.9-15.5,36.8,45.1,36.8,45.1s25.5-9.9,25.5,23.9c9.9,59.1-19.8,150.6-59.5,199.9
	C330.6,833.6,285.3,846.3,232.9,840.7z M261.2,352.1c-2.8-19.7-25.5-25.3-35.4-15.5c-9.9,9.9-7.1,19.7-7.1,19.7s2.8-18.3,19.8-16.9
	c18.4,1.4,21.2,31,21.2,31S261.2,363.4,261.2,352.1z"/>
</svg>
<p class="qte-text">Swipe left</p>
