<div class="badge-illustration"><img src="desktop/img/{{filmName}}/badge-illustration.png" alt=""></div><div class="badge-content"><header class="badge-title">Treasure 1 {{#if unlocked}} Unlocked {{else}} Locked {{/if}} <i class="badge-status {{#if unlocked}} success {{/if}}"></i></header><p class="badge-msg">The complete biography of the film &amp; characters.</p>


<!--
Variables :
1 : numéro du treasure
success : ne pas mettre cette classe en cas d'échec
The complete biography of the film &amp; characters. : remplacer par le bontenu
-->
